@import "../../utils/Fonts/fonts.scss";

.registration {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .registration__form {
    width: 500px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    background: #f0eeee;

    .registration__title {
      font-family: "Montserrat";
      font-style: normal;

      text-align: center;
      margin: 50px 0;
    }
    .form-input {
      max-width: 400px;
      margin: 20px auto;
    }
    .registation__btn {
      margin: 50px 0;
      text-align: center;

      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        width: 190px;
        padding: 10px 0;
        background: #bde5f2;
        border-radius: 10px;
        border: none;
        transition: background-color 0.3s ease-in;
        &:hover {
          background-color: rgb(109, 188, 191);
        }
      }
    }
  }
}
